
/*Import der Webfont, wie man den Link reinhaut muss ich noch nachsehen*/
@font-face {
font-family: OpenSans;
font-display: swap;
src:
  url('https://fonts.googleapis.com/css?family=Open+Sans:400,300'),
  local('Roboto')
}

@import url('https://fonts.googleapis.com/css?family=Montserrat:400');

/*Override everything*/
*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  background-color: #hsla(360, 100%, 100%, 0.5);

}



li, a , button, h1, h2, p, nav, a, small, address {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 16px;
  color: #111111;
  text-decoration: none;

}


.logo {
  margin: 4% 0px 0px 0px;
  height: 7rem;
}

.logo-container, .header-title-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.header-title-container {
  margin: 4px 0px 52px 0px;
}

.header-title-container a {
  font-weight: 500;
  font-size: 25px;
}

#nav-links-container {
  padding: 10px;
  border-radius: 0px 0px 14px 14px;
  border-width: 43px;
  box-shadow: 0px 0px 15px 0px #7d5f5f;
  -moz-box-shadow: 0px 0px 15px 0px #7d5f5f;
  -webkit-box-shadow: 0px 0px 15px 0px #7d5f5f;
  position: fixed;
  width: 100%;
  top: 0px;
  color: white;
}

#title:hover {
  color: #a1a6a9;
}


#nav-links-container, ul {
  max-width: 100%;
  display: flex;
  list-style-type: none;
  justify-content: center;
  flex-wrap: wrap;
  background-color: #fdfdfd;
}

.nav-links li {
  display: inline-flex;
  padding: 0px 20px;
  justify-content: space-between;
  align-items: center;
}

.nav-links li a {
  transition: all 0.3s ease 0s;
  width: 100%;
}

.nav-links li :hover {
  color: #a1a6a9;
}


#sticky-social-icons-list{
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  bottom: 0px;
  right: 10%;
  width: max-content;
  height: max-content;
  background-color: rgba(255, 255, 255, 0.5);
  list-style-type: none;
  border-radius: 7px 7px 0px 0px;
}

#sticky-social-icons-list li{
  padding: 10px;
}

#sticky-youtube:hover {
  color: #b31217;
}
#sticky-instagram-icon:hover {
  color: #e1306c;
}
#sticky-mail:hover {
  color: #ffcc00;
}
#sticky-facebook:hover {
  color: #3b5998;
}
#sticky-phone-icon:hover {
  color: #009900;
}


.home-images {
  max-width:100%;
  height:auto;
}

/*
div {
  border: solid #CC00AA;
  border-width: 1px 1px 1px;
}
*/
@media screen and (max-width: 768px) {
  /* #nav-links-container {display: none;} */
  #logo {height: 4rem; margin-top: 10%}
}
